.myp {
    color: #8f8f8f;
  }
.map {
    color: #8f8f8f;
    font-weight: bold;
  }
.mop{
    width: 300px;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    background-color: #aab4a1;
    font-size: 1.3em;
}
.container{
    padding-bottom: 2%;
    padding-top: 2%;
}
.row{
    padding-bottom: 10px;
}

header{
    background-color: #C8BEAE;
    padding-bottom: 20px;
}

footer{
    background-color: #485154;
    padding-bottom: 20px;
}

body{
    background-color: #ffffff;
}
/*-----header-----*/
.header{
    display: flex;
    justify-content: space-around;
    background-color: #C8BEAE;
    margin: 0;
    padding: 10px;
  
    position: relative;
    top: 0;
    width: 100%;

    margin-bottom: 30px;
}
.h_left {
    display: flex;
    margin-top: 15px;
}
.logo_nemelade {
    width: 18rem;
}
.logo_nemelade:hover {
    transform: rotateX(180deg);
}
.h_middle {
    display: flex;
    margin-top: 35px;
}
.HeadText1 {
    font-size: 25px;
    color: white;
}
.HeadText1:hover {
    text-decoration: underline;
}
.HeadText2 { 
    font-size: 25px;
    color: white;
    margin-left: 30px;
}
.HeadText2:hover {
    text-decoration-line: overline;
}
.HeadText3 {
    font-size: 25px;
    color: white;
    margin-left: 30px;
}
.HeadText3:hover {
    text-decoration: underline;
}
.h_right1 {
    display: flex;
    margin-top: 10px;
    position: relative;
    left: 180px;
}
.logo_user {
    border: 2px solid #C8BEAE;
    width: 4rem;
    border-radius: 50%;
}
.logo_user:hover {
    border: 2px solid black;
}
.h_right2 {
    display: flex;
    margin-top: 32px;
}
.lien_co {
    color: white;
    font-size: 20px;
}
.lien_co:hover {
    font-size: 22px;
}
.lien_insc {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.lien_insc:hover {
    font-size: 22px;
}
/*-----footer-----*/
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #485154;
    margin: 0;
    padding: 10px;
  
    position: relative;
    bottom: 0;
    width: 100%;

    margin-top: 30px;
  }
  .left {
    margin: none;
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-right: 200px;
  }
  
  .footer_link {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .right {
    display: flex;
    margin-top: 10px;
  }
  
  .logo_social {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }
  
  .logo_footer {
    width: 50%;
    height: auto;
  }
  .footer_contact {
      color: white;
      font-size: 12px;
  }
  .footer_contact:hover {
    color: white;
    font-size: 12px;
    text-decoration: underline;
}