/*-----header-----*/
.header{
    display: flex;
    justify-content: space-around;
    background-color: #C8BEAE;
    margin: 0;
    padding: 10px;
  
    position: relative;
    top: 0;
    width: 100%;

    margin-bottom: 30px;
}
.h_left {
    display: flex;
    margin-top: 15px;
}
.logo_nemelade {
    width: 18rem;
}
.logo_nemelade:hover {
    transform: rotateX(180deg);
}
.h_middle {
    display: flex;
    margin-top: 35px;
}
.HeadText1 {
    font-size: 25px;
    color: white;
}
.HeadText1:hover {
    text-decoration: underline;
}
.HeadText2 { 
    font-size: 25px;
    color: white;
    margin-left: 30px;
}
.HeadText2:hover {
    text-decoration-line: overline;
}
.HeadText3 {
    font-size: 25px;
    color: white;
    margin-left: 30px;
}
.HeadText3:hover {
    text-decoration: underline;
}
.h_right1 {
    display: flex;
    margin-top: 10px;
}
.logo_user {
    border: 2px solid #C8BEAE;
    width: 4rem;
    border-radius: 50%;
}
.logo_user:hover {
    border: 2px solid black;
}
.h_right2 {
    display: flex;
    margin-top: 32px;
}
.lien_co {
    color: white;
    font-size: 20px;
}
.lien_co:hover {
    font-size: 22px;
}
.lien_insc {
    color: white;
    font-size: 20px;
}
.lien_insc:hover {
    font-size: 22px;
}